@font-face {
    font-family: "Bumi Laras Selatan";
    font-display: block;
    font-style: normal;
    font-stretch: 75% 100%;
    font-weight: 400 700;
    src: url("/fonts/BumiLarasSelatan-Regular.woff2") format('woff2 supports variations'),
         url("/fonts/BumiLarasSelatan-Regular.woff2") format('woff2-variations'),
         url("/fonts/BumiLarasSelatan-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Bumi Laras Selatan";
    font-display: block;
    font-style: italic;
    font-stretch: 75% 100%;
    font-weight: 400 700;
    src: url("/fonts/BumiLarasSelatan-Italic.woff2") format('woff2 supports variations'),
         url("/fonts/BumiLarasSelatan-Italic.woff2") format('woff2-variations'),
         url("/fonts/BumiLarasSelatan-Italic.ttf") format('truetype');
}
