@font-face {
  font-family: "OCR A Extended";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("OCR A Extended"), url("https://fonts.cdnfonts.com/s/14159/OCRAEXT_2.woff") format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-inset {
        border-style: inset;
    }
    .border-outset {
        border-style: outset;
    }
    .font-semicondensed {
        font-stretch: 87.5%;
    }
    .font-condensed {
        font-stretch: 75%;
    }
}

[x-cloak] {
    display: none;
}

/* Hotfix for iOS hologram effect (https://stackoverflow.com/questions/41436892/background-attachment-fixed-doesnt-work-on-ios#45159359) */
html, body{
	width: 100%;
	height: 100%;
}

.text-ocr {
  font-family: "OCR A Extended", "OCR A", monospace;
  font-size: 1.1rem;
}


@keyframes holo-hover-in {
    0% {
      filter: hue-rotate(0deg) saturate(1);
    }
    50% {
      filter: hue-rotate(120deg) saturate(1.5);
    }
    100% {
      filter: hue-rotate(180deg) saturate(4);
    }
  }

  @keyframes holo-hover-out {
    0% {
      filter: hue-rotate(180deg) saturate(4);
    }
    50% {
      filter: hue-rotate(120deg) saturate(1.5);
    }
    100% {
      filter: hue-rotate(0deg) saturate(1);
    }
  }

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .text-holo.holo-force {
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(
        160deg,
        #98E3EC 0%,
        #A5DDFF 8.3%,
        #BDD4FF 16.7%,
        #D8CBFF 25%,
        #EFC4EF 33.3%,
        #FEC0D6 41.7%,
        #FFC2BB 50%,
        #FBC8A5 58.3%,
        #EAD19C 66.7%,
        #D1DBA3 75%,
        #B5E2B7 83.3%,
        #9FE5D2 91.7%,
        #98E3EC 100%
      );
      background-image: linear-gradient(
        160deg,
        oklch(87% 0.075 206) 0%,
        oklch(87% 0.075 236) 8.3%,
        oklch(87% 0.075 266) 16.7%,
        oklch(87% 0.075 296) 25%,
        oklch(87% 0.075 326) 33.3%,
        oklch(87% 0.075 356) 41.7%,
        oklch(87% 0.075 26) 50%,
        oklch(87% 0.075 56) 58.3%,
        oklch(87% 0.075 86) 66.7%,
        oklch(87% 0.075 116) 75%,
        oklch(87% 0.075 146) 83.3%,
        oklch(87% 0.075 176) 91.5%,
        oklch(87% 0.075 206) 100%
      );
      background-image: linear-gradient(
        in oklch,
        160deg,
        oklch(87% 0.075 206) 0%,
        oklch(87% 0.075 236) 8.3%,
        oklch(87% 0.075 266) 16.7%,
        oklch(87% 0.075 296) 25%,
        oklch(87% 0.075 326) 33.3%,
        oklch(87% 0.075 356) 41.7%,
        oklch(87% 0.075 26) 50%,
        oklch(87% 0.075 56) 58.3%,
        oklch(87% 0.075 86) 66.7%,
        oklch(87% 0.075 116) 75%,
        oklch(87% 0.075 146) 83.3%,
        oklch(87% 0.075 176) 91.5%,
        oklch(87% 0.075 206) 100%
      );
      color: transparent;
    }

    @media (prefers-color-scheme: dark) {
      .text-holo {
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(
          160deg,
          #98E3EC 0%,
          #A5DDFF 8.3%,
          #BDD4FF 16.7%,
          #D8CBFF 25%,
          #EFC4EF 33.3%,
          #FEC0D6 41.7%,
          #FFC2BB 50%,
          #FBC8A5 58.3%,
          #EAD19C 66.7%,
          #D1DBA3 75%,
          #B5E2B7 83.3%,
          #9FE5D2 91.7%,
          #98E3EC 100%
        );
        background-image: linear-gradient(
          160deg,
          oklch(87% 0.075 206) 0%,
          oklch(87% 0.075 236) 8.3%,
          oklch(87% 0.075 266) 16.7%,
          oklch(87% 0.075 296) 25%,
          oklch(87% 0.075 326) 33.3%,
          oklch(87% 0.075 356) 41.7%,
          oklch(87% 0.075 26) 50%,
          oklch(87% 0.075 56) 58.3%,
          oklch(87% 0.075 86) 66.7%,
          oklch(87% 0.075 116) 75%,
          oklch(87% 0.075 146) 83.3%,
          oklch(87% 0.075 176) 91.5%,
          oklch(87% 0.075 206) 100%
        );
        background-image: linear-gradient(
          in oklch,
          160deg,
          oklch(87% 0.075 206) 0%,
          oklch(87% 0.075 236) 8.3%,
          oklch(87% 0.075 266) 16.7%,
          oklch(87% 0.075 296) 25%,
          oklch(87% 0.075 326) 33.3%,
          oklch(87% 0.075 356) 41.7%,
          oklch(87% 0.075 26) 50%,
          oklch(87% 0.075 56) 58.3%,
          oklch(87% 0.075 86) 66.7%,
          oklch(87% 0.075 116) 75%,
          oklch(87% 0.075 146) 83.3%,
          oklch(87% 0.075 176) 91.5%,
          oklch(87% 0.075 206) 100%
        );
        color: transparent;
      }
    }

    .text-holo.compat {
      background-attachment: inherit;
    }
  }

  .bg-holo.holo-force {
    background-image: linear-gradient(
      160deg,
      #98E3EC 0%,
      #A5DDFF 8.3%,
      #BDD4FF 16.7%,
      #D8CBFF 25%,
      #EFC4EF 33.3%,
      #FEC0D6 41.7%,
      #FFC2BB 50%,
      #FBC8A5 58.3%,
      #EAD19C 66.7%,
      #D1DBA3 75%,
      #B5E2B7 83.3%,
      #9FE5D2 91.7%,
      #98E3EC 100%
    );
    background-image: linear-gradient(
      160deg,
      oklch(87% 0.075 206) 0%,
      oklch(87% 0.075 236) 8.3%,
      oklch(87% 0.075 266) 16.7%,
      oklch(87% 0.075 296) 25%,
      oklch(87% 0.075 326) 33.3%,
      oklch(87% 0.075 356) 41.7%,
      oklch(87% 0.075 26) 50%,
      oklch(87% 0.075 56) 58.3%,
      oklch(87% 0.075 86) 66.7%,
      oklch(87% 0.075 116) 75%,
      oklch(87% 0.075 146) 83.3%,
      oklch(87% 0.075 176) 91.5%,
      oklch(87% 0.075 206) 100%
    );
    background-image: linear-gradient(
      in oklch,
      160deg,
      oklch(87% 0.075 206) 0%,
      oklch(87% 0.075 236) 8.3%,
      oklch(87% 0.075 266) 16.7%,
      oklch(87% 0.075 296) 25%,
      oklch(87% 0.075 326) 33.3%,
      oklch(87% 0.075 356) 41.7%,
      oklch(87% 0.075 26) 50%,
      oklch(87% 0.075 56) 58.3%,
      oklch(87% 0.075 86) 66.7%,
      oklch(87% 0.075 116) 75%,
      oklch(87% 0.075 146) 83.3%,
      oklch(87% 0.075 176) 91.5%,
      oklch(87% 0.075 206) 100%
    );
    transform: translate3d(0);
  }

  @media (preferred-color-scheme: dark) {
    .bg-holo {
      background-image: linear-gradient(
        160deg,
        #98E3EC 0%,
        #A5DDFF 8.3%,
        #BDD4FF 16.7%,
        #D8CBFF 25%,
        #EFC4EF 33.3%,
        #FEC0D6 41.7%,
        #FFC2BB 50%,
        #FBC8A5 58.3%,
        #EAD19C 66.7%,
        #D1DBA3 75%,
        #B5E2B7 83.3%,
        #9FE5D2 91.7%,
        #98E3EC 100%
      );
      background-image: linear-gradient(
        160deg,
        oklch(87% 0.075 206) 0%,
        oklch(87% 0.075 236) 8.3%,
        oklch(87% 0.075 266) 16.7%,
        oklch(87% 0.075 296) 25%,
        oklch(87% 0.075 326) 33.3%,
        oklch(87% 0.075 356) 41.7%,
        oklch(87% 0.075 26) 50%,
        oklch(87% 0.075 56) 58.3%,
        oklch(87% 0.075 86) 66.7%,
        oklch(87% 0.075 116) 75%,
        oklch(87% 0.075 146) 83.3%,
        oklch(87% 0.075 176) 91.5%,
        oklch(87% 0.075 206) 100%
      );
      background-image: linear-gradient(
        in oklch,
        160deg,
        oklch(87% 0.075 206) 0%,
        oklch(87% 0.075 236) 8.3%,
        oklch(87% 0.075 266) 16.7%,
        oklch(87% 0.075 296) 25%,
        oklch(87% 0.075 326) 33.3%,
        oklch(87% 0.075 356) 41.7%,
        oklch(87% 0.075 26) 50%,
        oklch(87% 0.075 56) 58.3%,
        oklch(87% 0.075 86) 66.7%,
        oklch(87% 0.075 116) 75%,
        oklch(87% 0.075 146) 83.3%,
        oklch(87% 0.075 176) 91.5%,
        oklch(87% 0.075 206) 100%
      );
      transform: translate3d(0);
    }
  }

  .holo-global {
    background-attachment: fixed;
    -webkit-overflow-scrolling: touch;
  }

  .bg-holo.holo-force.holo-interactive,
  .text-holo.holo-force.holo-interactive {
    animation-name: holo-hover-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .bg-holo.holo-force.holo-interactive:hover,
  .bg-holo.holo-force.holo-interactive:focus {
    color: #000000;
    animation-name: holo-hover-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .text-holo.holo-force.holo-interactive:hover,
  .text-holo.holo-force.holo-interactive:focus {
    animation-name: holo-hover-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  @media (prefers-color-scheme: dark) {
    .bg-holo.holo-interactive,
    .text-holo.holo-interactive {
      animation-name: holo-hover-out;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }

    .bg-holo.holo-interactive:hover,
    .bg-holo.holo-interactive:focus {
      color: #000000;
      animation-name: holo-hover-in;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }

    .text-holo.holo-interactive:hover,
    .text-holo.holo-interactive:focus {
      animation-name: holo-hover-in;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }
  }

  /* Prevent page scrolling when modal is open */
  html:has(dialog[open]:modal) {
    overflow: hidden;
  }
