@font-face {
  font-family: "OCR A Extended";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("OCR A Extended"), url("https://fonts.cdnfonts.com/s/14159/OCRAEXT_2.woff") format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Hotfix for iOS hologram effect (https://stackoverflow.com/questions/41436892/background-attachment-fixed-doesnt-work-on-ios#45159359) */
html, body{
	width: 100%;
	height: 100%;
}

.text-ocr {
  font-family: "OCR A Extended", "OCR A", monospace;
  font-size: 1.1rem;
}


@keyframes holo-hover-in {
    0% {
      filter: hue-rotate(0deg) saturate(1);
    }
    50% {
      filter: hue-rotate(120deg) saturate(1.5);
    }
    100% {
      filter: hue-rotate(180deg) saturate(4);
    }
  }
  
  @keyframes holo-hover-out {
    0% {
      filter: hue-rotate(180deg) saturate(4);
    }
    50% {
      filter: hue-rotate(120deg) saturate(1.5);
    }
    100% {
      filter: hue-rotate(0deg) saturate(1);
    }
  }
  
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    [data-bs-theme="dark"] .text-holo,
    .text-holo.holo-force {
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(
        160deg,
        #87f1ff 0%,
        #9be9ff 8.3%,
        #bfddff 16.7%,
        #e3d1ff 25%,
        #ffc7ff 33.3%,
        #ffc3e0 41.7%,
        #ffc5bb 50%,
        #ffcd9d 58.3%,
        #fcda90 66.7%,
        #dae79a 75%,
        #b3f0b6 83.3%,
        #92f4db 91.7%,
        #87f1ff 100%
      );
      background-image: linear-gradient(
        160deg,
        oklch(90% 0.1 206) 0%,
        oklch(90% 0.1 236) 8.3%,
        oklch(90% 0.1 266) 16.7%,
        oklch(90% 0.1 296) 25%,
        oklch(90% 0.1 326) 33.3%,
        oklch(90% 0.1 356) 41.7%,
        oklch(90% 0.1 26) 50%,
        oklch(90% 0.1 56) 58.3%,
        oklch(90% 0.1 86) 66.7%,
        oklch(90% 0.1 116) 75%,
        oklch(90% 0.1 146) 83.3%,
        oklch(90% 0.1 176) 91.5%,
        oklch(90% 0.1 206) 100%
      );
      background-image: linear-gradient(
        in oklch,
        160deg,
        oklch(90% 0.1 206) 0%,
        oklch(90% 0.1 236) 8.3%,
        oklch(90% 0.1 266) 16.7%,
        oklch(90% 0.1 296) 25%,
        oklch(90% 0.1 326) 33.3%,
        oklch(90% 0.1 356) 41.7%,
        oklch(90% 0.1 26) 50%,
        oklch(90% 0.1 56) 58.3%,
        oklch(90% 0.1 86) 66.7%,
        oklch(90% 0.1 116) 75%,
        oklch(90% 0.1 146) 83.3%,
        oklch(90% 0.1 176) 91.5%,
        oklch(90% 0.1 206) 100%
      );
      color: transparent;
    }
  
    .text-holo.compat {
      background-attachment: inherit;
    }
  }
  
  [data-bs-theme="dark"] .bg-holo,
  .bg-holo.holo-force {
    background-image: linear-gradient(
      160deg,
      #87f1ff 0%,
      #9be9ff 8.3%,
      #bfddff 16.7%,
      #e3d1ff 25%,
      #ffc7ff 33.3%,
      #ffc3e0 41.7%,
      #ffc5bb 50%,
      #ffcd9d 58.3%,
      #fcda90 66.7%,
      #dae79a 75%,
      #b3f0b6 83.3%,
      #92f4db 91.7%,
      #87f1ff 100%
    );
    background-image: linear-gradient(
      160deg,
      oklch(90% 0.1 206) 0%,
      oklch(90% 0.1 236) 8.3%,
      oklch(90% 0.1 266) 16.7%,
      oklch(90% 0.1 296) 25%,
      oklch(90% 0.1 326) 33.3%,
      oklch(90% 0.1 356) 41.7%,
      oklch(90% 0.1 26) 50%,
      oklch(90% 0.1 56) 58.3%,
      oklch(90% 0.1 86) 66.7%,
      oklch(90% 0.1 116) 75%,
      oklch(90% 0.1 146) 83.3%,
      oklch(90% 0.1 176) 91.5%,
      oklch(90% 0.1 206) 100%
    );
    background-image: linear-gradient(
      in oklch,
      160deg,
      oklch(90% 0.1 206) 0%,
      oklch(90% 0.1 236) 8.3%,
      oklch(90% 0.1 266) 16.7%,
      oklch(90% 0.1 296) 25%,
      oklch(90% 0.1 326) 33.3%,
      oklch(90% 0.1 356) 41.7%,
      oklch(90% 0.1 26) 50%,
      oklch(90% 0.1 56) 58.3%,
      oklch(90% 0.1 86) 66.7%,
      oklch(90% 0.1 116) 75%,
      oklch(90% 0.1 146) 83.3%,
      oklch(90% 0.1 176) 91.5%,
      oklch(90% 0.1 206) 100%
    );
    transform: translate3d(0);
  }
  
  .holo-global {
    background-attachment: fixed;
    -webkit-overflow-scrolling: touch;
  }
  
  [data-bs-theme="dark"] .bg-holo.holo-interactive,
  .bg-holo.holo-force.holo-interactive,
  [data-bs-theme="dark"] .text-holo.holo-interactive,
  .text-holo.holo-force.holo-interactive {
    animation-name: holo-hover-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
  
  [data-bs-theme="dark"] .bg-holo.holo-interactive:hover,
  .bg-holo.holo-force.holo-interactive:hover,
  [data-bs-theme="dark"] .bg-holo.holo-interactive:focus,
  .bg-holo.holo-force.holo-interactive:focus {
    color: #000000;
    animation-name: holo-hover-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
  
  [data-bs-theme="dark"] .text-holo.holo-interactive:hover,
  .text-holo.holo-force.holo-interactive:hover,
  [data-bs-theme="dark"] .text-holo.holo-interactive:focus,
  .text-holo.holo-force.holo-interactive:focus {
    animation-name: holo-hover-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
  
