@font-face {
  font-family: "OCR A Extended";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("OCR A Extended"), url("https://fonts.cdnfonts.com/s/14159/OCRAEXT_2.woff") format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-inset {
    border-style: inset;
  }
  .border-outset {
    border-style: outset;
  }
  .font-no-condensed {
    font-stretch: 100%;
  }
  .font-semicondensed {
    font-stretch: 87.5%;
  }
  .font-condensed {
    font-stretch: 75%;
  }
  .list-star {
    list-style-type: "✦  ";
  }
}

[x-cloak] {
  display: none;
}

/* Hotfix for iOS hologram effect (https://stackoverflow.com/questions/41436892/background-attachment-fixed-doesnt-work-on-ios#45159359) */
html, body{
	width: 100%;
	height: 100%;
    @apply ease-out duration-200;
}

.text-ocr {
  font-family: "OCR A Extended", "OCR A", monospace;
  font-size: 1.1rem;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes holo-hover-in {
  0% {
    filter: hue-rotate(0deg) saturate(1);
  }
  50% {
    filter: hue-rotate(120deg) saturate(1.5);
  }
  100% {
    filter: hue-rotate(180deg) saturate(4);
  }
}

@keyframes holo-hover-out {
  0% {
    filter: hue-rotate(180deg) saturate(4);
  }
  50% {
    filter: hue-rotate(120deg) saturate(1.5);
  }
  100% {
    filter: hue-rotate(0deg) saturate(1);
  }
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .text-holo.holo-force {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      160deg,
      #98E3EC 0%,
      #A5DDFF 8.3%,
      #BDD4FF 16.7%,
      #D8CBFF 25%,
      #EFC4EF 33.3%,
      #FEC0D6 41.7%,
      #FFC2BB 50%,
      #FBC8A5 58.3%,
      #EAD19C 66.7%,
      #D1DBA3 75%,
      #B5E2B7 83.3%,
      #9FE5D2 91.7%,
      #98E3EC 100%
    );
    background-image: linear-gradient(
      160deg,
      oklch(87% 0.075 206) 0%,
      oklch(87% 0.075 236) 8.3%,
      oklch(87% 0.075 266) 16.7%,
      oklch(87% 0.075 296) 25%,
      oklch(87% 0.075 326) 33.3%,
      oklch(87% 0.075 356) 41.7%,
      oklch(87% 0.075 26) 50%,
      oklch(87% 0.075 56) 58.3%,
      oklch(87% 0.075 86) 66.7%,
      oklch(87% 0.075 116) 75%,
      oklch(87% 0.075 146) 83.3%,
      oklch(87% 0.075 176) 91.5%,
      oklch(87% 0.075 206) 100%
    );
    background-image: linear-gradient(
      in oklch,
      160deg,
      oklch(87% 0.075 206) 0%,
      oklch(87% 0.075 236) 8.3%,
      oklch(87% 0.075 266) 16.7%,
      oklch(87% 0.075 296) 25%,
      oklch(87% 0.075 326) 33.3%,
      oklch(87% 0.075 356) 41.7%,
      oklch(87% 0.075 26) 50%,
      oklch(87% 0.075 56) 58.3%,
      oklch(87% 0.075 86) 66.7%,
      oklch(87% 0.075 116) 75%,
      oklch(87% 0.075 146) 83.3%,
      oklch(87% 0.075 176) 91.5%,
      oklch(87% 0.075 206) 100%
    );
    color: transparent;
  }

  .dark .text-holo {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      160deg,
      #98E3EC 0%,
      #A5DDFF 8.3%,
      #BDD4FF 16.7%,
      #D8CBFF 25%,
      #EFC4EF 33.3%,
      #FEC0D6 41.7%,
      #FFC2BB 50%,
      #FBC8A5 58.3%,
      #EAD19C 66.7%,
      #D1DBA3 75%,
      #B5E2B7 83.3%,
      #9FE5D2 91.7%,
      #98E3EC 100%
    );
    background-image: linear-gradient(
      160deg,
      oklch(87% 0.075 206) 0%,
      oklch(87% 0.075 236) 8.3%,
      oklch(87% 0.075 266) 16.7%,
      oklch(87% 0.075 296) 25%,
      oklch(87% 0.075 326) 33.3%,
      oklch(87% 0.075 356) 41.7%,
      oklch(87% 0.075 26) 50%,
      oklch(87% 0.075 56) 58.3%,
      oklch(87% 0.075 86) 66.7%,
      oklch(87% 0.075 116) 75%,
      oklch(87% 0.075 146) 83.3%,
      oklch(87% 0.075 176) 91.5%,
      oklch(87% 0.075 206) 100%
    );
    background-image: linear-gradient(
      in oklch,
      160deg,
      oklch(87% 0.075 206) 0%,
      oklch(87% 0.075 236) 8.3%,
      oklch(87% 0.075 266) 16.7%,
      oklch(87% 0.075 296) 25%,
      oklch(87% 0.075 326) 33.3%,
      oklch(87% 0.075 356) 41.7%,
      oklch(87% 0.075 26) 50%,
      oklch(87% 0.075 56) 58.3%,
      oklch(87% 0.075 86) 66.7%,
      oklch(87% 0.075 116) 75%,
      oklch(87% 0.075 146) 83.3%,
      oklch(87% 0.075 176) 91.5%,
      oklch(87% 0.075 206) 100%
    );
    color: transparent;
  }

  .text-holo.compat {
    background-attachment: inherit;
  }
}

.bg-holo.holo-force {
  background-image: linear-gradient(
    160deg,
    #98E3EC 0%,
    #A5DDFF 8.3%,
    #BDD4FF 16.7%,
    #D8CBFF 25%,
    #EFC4EF 33.3%,
    #FEC0D6 41.7%,
    #FFC2BB 50%,
    #FBC8A5 58.3%,
    #EAD19C 66.7%,
    #D1DBA3 75%,
    #B5E2B7 83.3%,
    #9FE5D2 91.7%,
    #98E3EC 100%
  );
  background-image: linear-gradient(
    160deg,
    oklch(87% 0.075 206) 0%,
    oklch(87% 0.075 236) 8.3%,
    oklch(87% 0.075 266) 16.7%,
    oklch(87% 0.075 296) 25%,
    oklch(87% 0.075 326) 33.3%,
    oklch(87% 0.075 356) 41.7%,
    oklch(87% 0.075 26) 50%,
    oklch(87% 0.075 56) 58.3%,
    oklch(87% 0.075 86) 66.7%,
    oklch(87% 0.075 116) 75%,
    oklch(87% 0.075 146) 83.3%,
    oklch(87% 0.075 176) 91.5%,
    oklch(87% 0.075 206) 100%
  );
  background-image: linear-gradient(
    in oklch,
    160deg,
    oklch(87% 0.075 206) 0%,
    oklch(87% 0.075 236) 8.3%,
    oklch(87% 0.075 266) 16.7%,
    oklch(87% 0.075 296) 25%,
    oklch(87% 0.075 326) 33.3%,
    oklch(87% 0.075 356) 41.7%,
    oklch(87% 0.075 26) 50%,
    oklch(87% 0.075 56) 58.3%,
    oklch(87% 0.075 86) 66.7%,
    oklch(87% 0.075 116) 75%,
    oklch(87% 0.075 146) 83.3%,
    oklch(87% 0.075 176) 91.5%,
    oklch(87% 0.075 206) 100%
  );
  transform: translate3d(0);
}

.dark .bg-holo {
  background-image: linear-gradient(
    160deg,
    #98E3EC 0%,
    #A5DDFF 8.3%,
    #BDD4FF 16.7%,
    #D8CBFF 25%,
    #EFC4EF 33.3%,
    #FEC0D6 41.7%,
    #FFC2BB 50%,
    #FBC8A5 58.3%,
    #EAD19C 66.7%,
    #D1DBA3 75%,
    #B5E2B7 83.3%,
    #9FE5D2 91.7%,
    #98E3EC 100%
  );
  background-image: linear-gradient(
    160deg,
    oklch(87% 0.075 206) 0%,
    oklch(87% 0.075 236) 8.3%,
    oklch(87% 0.075 266) 16.7%,
    oklch(87% 0.075 296) 25%,
    oklch(87% 0.075 326) 33.3%,
    oklch(87% 0.075 356) 41.7%,
    oklch(87% 0.075 26) 50%,
    oklch(87% 0.075 56) 58.3%,
    oklch(87% 0.075 86) 66.7%,
    oklch(87% 0.075 116) 75%,
    oklch(87% 0.075 146) 83.3%,
    oklch(87% 0.075 176) 91.5%,
    oklch(87% 0.075 206) 100%
  );
  background-image: linear-gradient(
    in oklch,
    160deg,
    oklch(87% 0.075 206) 0%,
    oklch(87% 0.075 236) 8.3%,
    oklch(87% 0.075 266) 16.7%,
    oklch(87% 0.075 296) 25%,
    oklch(87% 0.075 326) 33.3%,
    oklch(87% 0.075 356) 41.7%,
    oklch(87% 0.075 26) 50%,
    oklch(87% 0.075 56) 58.3%,
    oklch(87% 0.075 86) 66.7%,
    oklch(87% 0.075 116) 75%,
    oklch(87% 0.075 146) 83.3%,
    oklch(87% 0.075 176) 91.5%,
    oklch(87% 0.075 206) 100%
  );
  transform: translate3d(0);
}

.holo-global {
  background-attachment: fixed;
  -webkit-overflow-scrolling: touch;
}

.bg-holo.holo-force.holo-interactive,
.text-holo.holo-force.holo-interactive {
  animation-name: holo-hover-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.bg-holo.holo-force.holo-interactive:hover,
.bg-holo.holo-force.holo-interactive:focus {
  color: #000000;
  animation-name: holo-hover-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.text-holo.holo-force.holo-interactive:hover,
.text-holo.holo-force.holo-interactive:focus {
  animation-name: holo-hover-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@media (prefers-color-scheme: dark) {
  .bg-holo.holo-interactive,
  .text-holo.holo-interactive {
    animation-name: holo-hover-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .bg-holo.holo-interactive:hover,
  .bg-holo.holo-interactive:focus {
    color: #000000;
    animation-name: holo-hover-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .text-holo.holo-interactive:hover,
  .text-holo.holo-interactive:focus {
    animation-name: holo-hover-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
}

/* Prevent page scrolling when modal is open */
html:has(dialog[open]:modal) {
  overflow: hidden;
}

/* Fixes for articles */
article.reinhart1010-article main {
  font-weight: 450;
  letter-spacing: -0.0015em;
}
article.reinhart1010-article main a {
  @apply text-gr-violet-500 font-bold ease-out duration-200;
}
article.reinhart1010-article main a::after {
  @apply bg-gr-violet-500 ease-out duration-200;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-bottom: calc(-1.1em + 1rem);
  mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 4H10.2662C12.3292 4 14 5.67984 14 7.75C14 9.75338 12.4353 11.3912 10.4706 11.4948L10.2729 11.5L9.75667 11.5046C9.34247 11.5082 9.00371 11.1755 8.99997 10.7613C8.99665 10.3816 9.276 10.0653 9.64162 10.0124L9.74333 10.0046L10.2662 10C11.499 10 12.5 8.99355 12.5 7.75C12.5 6.55827 11.5807 5.58428 10.419 5.50519L10.2662 5.5H9.75C9.33579 5.5 8.99997 5.16421 8.99997 4.75C8.99997 4.3703 9.28215 4.05651 9.64823 4.00685L9.75 4H10.2662H9.75ZM5.7523 4H6.25C6.66421 4 7 4.33579 7 4.75C7 5.1297 6.71785 5.44349 6.35177 5.49315L6.25 5.5H5.7523C4.50839 5.5 3.5 6.50839 3.5 7.7523C3.5 8.94437 4.42611 9.92015 5.59809 9.99939L5.7523 10.0046H6.25C6.66421 10.0046 7 10.3404 7 10.7546C7 11.1343 6.71785 11.4481 6.35177 11.4977L6.25 11.5046H5.7523C3.67996 11.5046 2 9.82463 2 7.7523C2 5.74681 3.57332 4.10879 5.55302 4.0052L5.7523 4H6.25H5.7523ZM5.75 7H10.25C10.6642 7 11 7.33579 11 7.75C11 8.1297 10.7178 8.44349 10.3518 8.49315L10.25 8.5H5.75C5.33579 8.5 5 8.16421 5 7.75C5 7.3703 5.28215 7.05651 5.64823 7.00685L5.75 7H10.25H5.75Z' fill='currentColor'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 4H10.2662C12.3292 4 14 5.67984 14 7.75C14 9.75338 12.4353 11.3912 10.4706 11.4948L10.2729 11.5L9.75667 11.5046C9.34247 11.5082 9.00371 11.1755 8.99997 10.7613C8.99665 10.3816 9.276 10.0653 9.64162 10.0124L9.74333 10.0046L10.2662 10C11.499 10 12.5 8.99355 12.5 7.75C12.5 6.55827 11.5807 5.58428 10.419 5.50519L10.2662 5.5H9.75C9.33579 5.5 8.99997 5.16421 8.99997 4.75C8.99997 4.3703 9.28215 4.05651 9.64823 4.00685L9.75 4H10.2662H9.75ZM5.7523 4H6.25C6.66421 4 7 4.33579 7 4.75C7 5.1297 6.71785 5.44349 6.35177 5.49315L6.25 5.5H5.7523C4.50839 5.5 3.5 6.50839 3.5 7.7523C3.5 8.94437 4.42611 9.92015 5.59809 9.99939L5.7523 10.0046H6.25C6.66421 10.0046 7 10.3404 7 10.7546C7 11.1343 6.71785 11.4481 6.35177 11.4977L6.25 11.5046H5.7523C3.67996 11.5046 2 9.82463 2 7.7523C2 5.74681 3.57332 4.10879 5.55302 4.0052L5.7523 4H6.25H5.7523ZM5.75 7H10.25C10.6642 7 11 7.33579 11 7.75C11 8.1297 10.7178 8.44349 10.3518 8.49315L10.25 8.5H5.75C5.33579 8.5 5 8.16421 5 7.75C5 7.3703 5.28215 7.05651 5.64823 7.00685L5.75 7H10.25H5.75Z' fill='currentColor'/%3E%3C/svg%3E") no-repeat center;
  width: 1rem;
}
article.reinhart1010-article main a[target="_blank"]::after {
  mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.13332 3.69238C4.46915 2.70798 5.4019 2 6.5 2H11.5C12.8807 2 14 3.11929 14 4.5V9.5C14 10.5981 13.2921 11.5308 12.3077 11.8667V12.2308C12.3077 12.5665 12.1906 12.9937 11.9162 13.3469C11.6272 13.7191 11.1682 14.0001 10.5385 14.0001H4.76923C3.22385 14.0001 2 12.7761 2 11.2308V5.46161C2 4.91317 2.19723 4.45581 2.54568 4.13948C2.88637 3.8302 3.33074 3.69238 3.76923 3.69238H4.13332ZM4 4.69238H3.76923C3.53343 4.69238 3.34318 4.7661 3.21783 4.8799C3.10025 4.98664 3 5.1639 3 5.46161V11.2308C3 12.2239 3.77615 13.0001 4.76923 13.0001H10.5385C10.8375 13.0001 11.0131 12.8795 11.1265 12.7335C11.2546 12.5686 11.3077 12.3612 11.3077 12.2308V12H6.5C5.11929 12 4 10.8807 4 9.5V4.69238ZM8 6H9.29289L6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L10 6.70711V8C10 8.27614 10.2239 8.5 10.5 8.5C10.7761 8.5 11 8.27614 11 8V5.5C11 5.22386 10.7761 5 10.5 5H8C7.72386 5 7.5 5.22386 7.5 5.5C7.5 5.77614 7.72386 6 8 6Z' fill='currentColor'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.13332 3.69238C4.46915 2.70798 5.4019 2 6.5 2H11.5C12.8807 2 14 3.11929 14 4.5V9.5C14 10.5981 13.2921 11.5308 12.3077 11.8667V12.2308C12.3077 12.5665 12.1906 12.9937 11.9162 13.3469C11.6272 13.7191 11.1682 14.0001 10.5385 14.0001H4.76923C3.22385 14.0001 2 12.7761 2 11.2308V5.46161C2 4.91317 2.19723 4.45581 2.54568 4.13948C2.88637 3.8302 3.33074 3.69238 3.76923 3.69238H4.13332ZM4 4.69238H3.76923C3.53343 4.69238 3.34318 4.7661 3.21783 4.8799C3.10025 4.98664 3 5.1639 3 5.46161V11.2308C3 12.2239 3.77615 13.0001 4.76923 13.0001H10.5385C10.8375 13.0001 11.0131 12.8795 11.1265 12.7335C11.2546 12.5686 11.3077 12.3612 11.3077 12.2308V12H6.5C5.11929 12 4 10.8807 4 9.5V4.69238ZM8 6H9.29289L6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L10 6.70711V8C10 8.27614 10.2239 8.5 10.5 8.5C10.7761 8.5 11 8.27614 11 8V5.5C11 5.22386 10.7761 5 10.5 5H8C7.72386 5 7.5 5.22386 7.5 5.5C7.5 5.77614 7.72386 6 8 6Z' fill='currentColor'/%3E%3C/svg%3E") no-repeat center;
}
article.reinhart1010-article main a:active, article.reinhart1010-article main a:hover {
  @apply text-gr-violet-800;
}
article.reinhart1010-article main a:active::after, article.reinhart1010-article main a:hover::after {
  @apply bg-gr-violet-800;
}
article.reinhart1010-article main b, article.reinhart1010-article main strong {
  @apply text-gr-fuchsia-500 font-bold;
}
article.reinhart1010-article main :not(a) > code:not(.hljs), article.reinhart1010-article main :not(a) > pre {
  @apply text-gr-indigo-500 font-bold;
}
article.reinhart1010-article main figure {
  @apply my-4;
}
article.reinhart1010-article main figure figcaption {
  @apply my-2 text-sm text-center leading-6;
}
article.reinhart1010-article main h1, article.reinhart1010-article main .h1 {
  @apply font-sans-display text-4xl font-semibold my-4;
}
article.reinhart1010-article main h2, article.reinhart1010-article main .h2 {
  @apply font-sans-display text-3xl font-semibold my-4;
}
article.reinhart1010-article main h3, article.reinhart1010-article main .h3 {
  @apply font-sans-display text-2xl font-semibold my-4;
}
article.reinhart1010-article main h4, article.reinhart1010-article main .h4 {
  @apply font-sans-display text-xl font-semibold my-4;
}
article.reinhart1010-article main h5, article.reinhart1010-article main .h5 {
  @apply font-sans-display text-lg font-semibold my-4;
}
article.reinhart1010-article main h6, article.reinhart1010-article main .h6 {
  @apply font-sans text-base font-bold my-4;
}
article.reinhart1010-article main blockquote {
  padding-left: 1rem;
  padding-inline-start: 1rem;
  border-color: #D8CBFF;
  border-style: solid;
  border-left-width: 0.5rem;
  border-inline-start-width: 0.5rem;
}
article.reinhart1010-article main figure.wp-block-table {
  @apply overflow-x-scroll;
}
article.reinhart1010-article main img {
  border-radius: 0.75rem;
  max-width: 100%;
}
article.reinhart1010-article main p {
  @apply my-4;
}
article.reinhart1010-article main table {
  @apply rounded-2xl overflow-hidden border-2 border-inset border-dm-fuchsia-300 border-separate border-spacing-0;
}
article.reinhart1010-article main table td, article.reinhart1010-article main table th {
  @apply p-2
}
article.reinhart1010-article main table thead {
  @apply rounded-full bg-gr-fuchsia-100;
}
article.reinhart1010-article main ul {
  list-style-type: "✦  ";
  margin-inline-start: 2rem;
}
article.reinhart1010-article main ol {
  list-style-type: decimal;
  margin-inline-start: 2rem;
}
article.reinhart1010-article main code.hljs {
  @apply my-4 rounded-xl;
}
.dark article.reinhart1010-article main {
  font-weight: 425;
  letter-spacing: 0em;
}
.dark article.reinhart1010-article main a {
  @apply text-dm-violet-100;
}
.dark article.reinhart1010-article main a::after {
  @apply bg-dm-violet-100;
}
.dark article.reinhart1010-article main a:active, article.reinhart1010-article main a:hover {
  @apply text-dm-violet-400;
}
.dark article.reinhart1010-article main a:active::after, article.reinhart1010-article main a:hover::after {
  @apply bg-dm-violet-400;
}
.dark article.reinhart1010-article main b, .dark article.reinhart1010-article main strong {
  @apply text-dm-fuchsia-100;
}
.dark article.reinhart1010-article main :not(a) > code:not(.hljs), article.reinhart1010-article main :not(a) > pre {
  @apply text-dm-indigo-100;
}
.dark article.reinhart1010-article main table thead {
  @apply rounded-full bg-dm-fuchsia-800;
}
